In [4]:
import pandas as pd
import yfinance as yf

In [5]:
#Descargo data table wikipedia S&P 500
sp500url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

data_table = pd.read_html(sp500url)

In [6]:
#Hago una lista simbolos syp500
tickers = data_table[0]["Symbol"].tolist()

In [7]:
data_table[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [8]:
#renombro para trabajar mas comodo
sector = data_table[0]

In [9]:
#Sectores
sector["GICS Sector"].unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Staples',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Energy'], dtype=object)

In [10]:
sector

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
#Hago listas en base a los sectores
listaInd=[]
listaHC=[]
listaInfTec=[]
listaComS=[]
listaConStap=[]
listaConDisc=[]
listaUtilities=[]
listaFinan=[]
listaMaterial=[]
listaRealEst=[]
listaEnergy=[]

for ind, a in enumerate(sector["GICS Sector"]):
    if a == "Industrials":
        listaInd.append(sector["Symbol"][ind])
    if a == "Health Care":
        listaHC.append(sector["Symbol"][ind])
    if a == "Information Technology":
        listaInfTec.append(sector["Symbol"][ind])
    if a == "Communication Services":
        listaComS.append(sector["Symbol"][ind])
    if a == "Consumer Staples":
        listaConStap.append(sector["Symbol"][ind])
    if a == "Consumer Discretionary":
        listaConDisc.append(sector["Symbol"][ind])
    if a == "Utilities":
        listaUtilities.append(sector["Symbol"][ind])
    if a == "Financials":
        listaFinan.append(sector["Symbol"][ind])
    if a == "Materials":
        listaMaterial.append(sector["Symbol"][ind])
    if a == "Real Estate":
        listaRealEst.append(sector["Symbol"][ind])
    if a == "Energy":
        listaEnergy.append(sector["Symbol"][ind])

In [12]:
#Corroboro que ninguna industria haya quedado afuera
len(listaInd) + len(listaHC)+ len(listaInfTec)+ len(listaComS)+ len(listaConStap)+ len(listaConDisc)+ len(listaUtilities)+ len(listaFinan)+ len(listaMaterial)+ len(listaRealEst)+ len(listaEnergy)

503

In [13]:
#Modifico Symbol para yfinance download en tickers
for i in range(len(tickers)):
    if tickers[i]== "BRK.B":
        tickers[i]= "BRK-B"
for i in range(len(tickers)):
    if tickers[i]=="BF.B":
        tickers[i]= "BF-B"

In [14]:
#Modifico Symbol para yfinance download en listas=tickers
for i in range(len(listaFinan)):
    if listaFinan[i]== "BRK.B":
        listaFinan[i]= "BRK-B"
for i in range(len(listaConStap)):
    if listaConStap[i]=="BF.B":
        listaConStap[i]= "BF-B"

In [15]:
#Descargo informacion Adj Close
data500AdjC = yf.download(tickers, start="2000-01-01",end="2023-01-03")["Adj Close"]

[*********************100%***********************]  503 of 503 completed

In [16]:
#Descargo informacion Volume
data500Vol = yf.download(tickers, start="2000-01-01",end="2023-01-03")["Volume"]

[*********************100%***********************]  503 of 503 completed

In [17]:
data500AdjC

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,44.001270,NaN,NaN,0.850643,NaN,2.988898,9.221027,1.277778,NaN,16.274672,...,NaN,7.236262,18.984552,6.772067,NaN,4.770267,NaN,25.027779,37.660595,NaN
2000-01-04,40.640041,NaN,NaN,0.778925,NaN,2.784837,8.957568,1.270833,NaN,14.909400,...,NaN,7.402887,18.620924,6.772067,NaN,4.674383,NaN,24.666668,35.836971,NaN
2000-01-05,38.119152,NaN,NaN,0.790324,NaN,3.000901,8.941103,1.388889,NaN,15.204174,...,NaN,7.688529,19.636047,6.889139,NaN,4.698352,NaN,25.138889,35.794514,NaN
2000-01-06,36.667725,NaN,NaN,0.721930,NaN,3.228970,9.253960,1.375000,NaN,15.328288,...,NaN,7.617118,20.651182,6.898145,NaN,4.658403,NaN,23.777779,36.303471,NaN
2000-01-07,39.723347,NaN,NaN,0.756128,NaN,3.649096,9.352757,1.451389,NaN,16.072985,...,NaN,7.617118,20.590590,6.880133,NaN,4.554527,NaN,23.513889,36.388298,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,149.007767,12.71,143.279999,131.658981,161.564163,169.487625,107.692398,63.380001,265.006012,338.450012,...,80.720001,69.885384,107.850105,31.701571,109.392502,128.309387,126.448685,248.220001,48.073280,145.418304
2022-12-27,149.327301,12.53,145.020004,129.831772,161.455200,168.480743,108.080643,63.619999,264.229187,335.089996,...,84.330002,70.515961,109.348579,31.940601,110.379448,129.304794,127.037560,251.000000,48.460247,144.959396
2022-12-28,147.869461,12.32,145.300003,125.847855,160.702347,166.845779,107.343979,62.599998,262.048126,328.329987,...,80.089996,70.008034,107.552391,30.855000,108.604927,128.717514,125.750015,246.839996,47.597012,143.492844
2022-12-29,150.865005,12.70,146.309998,129.412415,161.029236,165.539810,109.812798,63.110001,267.286682,337.579987,...,81.260002,70.504051,108.366135,32.279999,111.296623,129.394394,127.586510,257.529999,48.698380,147.802704
2022-12-30,149.649994,12.72,147.029999,129.731918,160.088181,165.200851,109.295143,62.779999,265.752960,336.529999,...,82.470001,69.551697,109.457741,31.840000,110.229912,127.493149,127.257141,256.410004,48.777756,146.206467

In [18]:
data500Vol

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,4674353,NaN,NaN,535796800,NaN,2784800,10635087,433800,NaN,7384400,...,NaN,2738600,13458200,582300,NaN,3033493,NaN,1055700,1199600,NaN
2000-01-04,4765083,NaN,NaN,512377600,NaN,944000,10734887,84600,NaN,7813200,...,NaN,425200,14510800,317700,NaN,3315031,NaN,522450,816100,NaN
2000-01-05,5758642,NaN,NaN,778321600,NaN,810400,11722632,80100,NaN,14927200,...,NaN,500200,17485000,1188000,NaN,4642602,NaN,612225,1124700,NaN
2000-01-06,2534434,NaN,NaN,767972800,NaN,2695200,17479583,348300,NaN,10221200,...,NaN,344100,19461600,534300,NaN,3947658,NaN,263925,1112100,NaN
2000-01-07,2819626,NaN,NaN,460734400,NaN,2543600,15756040,247500,NaN,8253200,...,NaN,469500,16603800,1401000,NaN,6063647,NaN,333900,782000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,779400,17181200.0,524500.0,63814900,2685100.0,528000,2618400,890300,1213300.0,1629800,...,1134800.0,1201300,11539400,1266800,321100.0,700800,789800.0,180900,1263300,1017900.0
2022-12-27,879500,18878200.0,717100.0,69007800,2669200.0,740300,2927400,666700,1009600.0,1464300,...,4026500.0,1580600,11962100,998800,468200.0,1300200,755600.0,252500,704200,957900.0
2022-12-28,784300,20470400.0,685500.0,85438400,2944500.0,804700,3265200,1107900,1387000.0,1672100,...,2131500.0,1513700,10702100,1430500,480400.0,964800,750100.0,241200,680300,1443900.0
2022-12-29,854400,19706300.0,719100.0,75703700,3112500.0,1480000,3047800,1063400,1516800.0,1793100,...,1431100.0,1398000,10534000,1139500,516300.0,875700,686600.0,274900,685300,1298900.0
2022-12-30,699800,19002800.0,1004700.0,77034200,3680400.0,1209700,3471000,1116100,1339500.0,1740900,...,1614700.0,1597000,11799600,1353000,548900.0,1401300,785200.0,228200,609700,1249500.0

In [19]:
data500AdjC.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5787 entries, 2000-01-03 to 2022-12-30
Columns: 503 entries, A to ZTS
dtypes: float64(503)
memory usage: 22.3 MB

In [20]:
data500Vol.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5787 entries, 2000-01-03 to 2022-12-30
Columns: 503 entries, A to ZTS
dtypes: float64(137), int64(366)
memory usage: 22.3 MB

In [21]:
data500AdjC.describe()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
count,5787.000000,4346.000000,5309.000000,5787.000000,2518.000000,5787.000000,5787.000000,5787.000000,5398.000000,5787.000000,...,5081.000000,5787.000000,5787.000000,5787.000000,2823.000000,5787.000000,5394.000000,5787.000000,5787.000000,2497.000000
mean,42.740456,24.411172,85.958180,28.726945,69.207089,47.711086,36.896819,16.639817,87.229351,117.181149,...,79.856705,25.314292,46.404244,35.228754,56.923380,41.798042,79.607045,99.453604,35.593336,90.552635
std,36.233033,15.226563,58.880115,42.967732,34.007732,39.475688,31.970865,13.661857,87.795604,152.396637,...,44.866998,19.396990,18.306259,14.822455,29.731060,35.494658,33.446453,124.255846,14.862814,56.967704
min,6.630747,1.659225,11.237871,0.199405,22.178244,2.304693,7.843308,1.270833,8.636387,8.317786,...,6.119851,2.513721,15.502961,6.718035,19.741776,3.036350,22.090981,15.194444,5.349998,26.679386
25%,19.461396,10.372512,33.744827,1.591440,43.211855,14.040960,14.691638,5.267222,23.019313,28.400000,...,41.707844,10.927218,32.485994,24.402014,31.707249,12.746000,53.808147,31.800000,23.450581,43.061031
50%,27.763325,21.469999,66.930550,10.857841,63.396242,31.269594,19.913872,11.033333,48.443142,38.919998,...,80.208107,16.421528,49.294731,34.434605,49.294693,30.449476,71.073048,44.099998,36.148216,71.539368
75%,56.541695,37.807457,142.091644,33.272451,84.693188,79.751839,42.440145,26.990001,119.000778,129.599998,...,108.904182,37.132469,59.616369,47.602646,76.520103,59.119526,107.612068,101.654999,45.739565,140.230103
max,177.652649,59.345581,233.252151,180.683884,168.544312,173.455414,138.498352,63.619999,408.159424,688.369995,...,213.068253,75.774223,113.308105,67.764374,135.543716,135.617020,170.799332,614.549988,71.756218,244.655884

In [22]:
data500Vol.describe()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
count,5.787000e+03,4.346000e+03,5.309000e+03,5.787000e+03,2.518000e+03,5.787000e+03,5.787000e+03,5.787000e+03,5.398000e+03,5.787000e+03,...,5.081000e+03,5.787000e+03,5.787000e+03,5.787000e+03,2.823000e+03,5.787000e+03,5.394000e+03,5.787000e+03,5.787000e+03,2.497000e+03
mean,3.439003e+06,1.441427e+07,1.172432e+06,4.143518e+08,7.755894e+06,2.850925e+06,9.770245e+06,1.886381e+06,2.915075e+06,5.318613e+06,...,2.396258e+06,2.482144e+06,1.796789e+07,1.278309e+06,1.096032e+06,4.110650e+06,1.580744e+06,4.644680e+05,2.168812e+06,2.921445e+06
std,2.303197e+06,2.194948e+07,9.526910e+05,3.870975e+08,5.225354e+06,2.593781e+06,6.277810e+06,2.140259e+06,2.543957e+06,4.224964e+06,...,1.924295e+06,1.529153e+06,1.018175e+07,1.009567e+06,6.442866e+05,2.855307e+06,1.024029e+06,4.622595e+05,2.101332e+06,2.671272e+06
min,2.719000e+05,1.385000e+05,9.000000e+03,3.519590e+07,1.378600e+06,1.584000e+05,1.067700e+06,0.000000e+00,1.811000e+05,5.892000e+05,...,1.630000e+04,0.000000e+00,3.851300e+06,1.095000e+05,1.846000e+05,3.404000e+05,2.404020e+05,3.180000e+04,6.600000e+04,4.174000e+05
25%,1.937768e+06,4.626600e+06,6.826000e+05,1.421488e+08,5.056225e+06,1.392800e+06,5.572500e+06,8.566500e+05,1.810325e+06,2.692900e+06,...,1.255100e+06,1.441800e+06,1.091460e+07,7.113500e+05,7.213000e+05,2.253700e+06,9.761052e+05,2.445500e+05,6.639000e+05,1.739300e+06
50%,2.950400e+06,7.477200e+06,9.500000e+05,2.981384e+08,6.585250e+06,2.214400e+06,7.984577e+06,1.403700e+06,2.404550e+06,4.367800e+06,...,1.975700e+06,2.285100e+06,1.507150e+07,1.021000e+06,9.686000e+05,3.556787e+06,1.329060e+06,3.697000e+05,1.664000e+06,2.351500e+06
75%,4.281585e+06,1.340950e+07,1.371600e+06,5.507012e+08,9.095250e+06,3.498900e+06,1.219519e+07,2.338200e+06,3.389125e+06,6.617200e+06,...,3.007600e+06,3.177800e+06,2.196355e+07,1.540100e+06,1.317500e+06,5.126948e+06,1.868008e+06,5.551500e+05,2.856500e+06,3.361800e+06
max,3.644208e+07,4.286171e+08,1.974950e+07,7.421641e+09,1.227402e+08,5.535600e+07,7.810838e+07,9.369940e+07,8.965590e+07,1.087524e+08,...,2.608880e+07,2.282710e+07,1.180235e+08,2.326880e+07,1.510600e+07,5.110631e+07,1.318647e+07,1.157870e+07,2.633310e+07,6.678910e+07

In [23]:
from ydata_profiling import ProfileReport

In [24]:
#I MAKE COLUMNS BY SECTORS,    ADJUST CLOSE  
data500AdjC["Total Industrial"] = data500AdjC[listaInd].sum(axis=1)
data500AdjC["Total Health Care"] = data500AdjC[listaHC].sum(axis=1)
data500AdjC["Total Information Technology"] = data500AdjC[listaInfTec].sum(axis=1)
data500AdjC["Total Communication Services"] = data500AdjC[listaComS].sum(axis=1)
data500AdjC["Total Consumer Staples"] = data500AdjC[listaConStap].sum(axis=1)
data500AdjC["Total Consumer Discretionary"] = data500AdjC[listaConDisc].sum(axis=1)
data500AdjC["Total Utilities"] = data500AdjC[listaUtilities].sum(axis=1)
data500AdjC["Total Financials"] = data500AdjC[listaFinan].sum(axis=1)
data500AdjC["Total Materials"] = data500AdjC[listaMaterial].sum(axis=1)
data500AdjC["Total Real Estate"] = data500AdjC[listaRealEst].sum(axis=1)
data500AdjC["Total Energy"] = data500AdjC[listaEnergy].sum(axis=1)

#I MAKE COLUMNS BY SECTORS, VOLUME

data500Vol["Total Industrial"] = data500Vol[listaInd].sum(axis=1)
data500Vol["Total Health Care"] = data500Vol[listaHC].sum(axis=1)
data500Vol["Total Information Technology"] = data500Vol[listaInfTec].sum(axis=1)
data500Vol["Total Communication Services"] = data500Vol[listaComS].sum(axis=1)
data500Vol["Total Consumer Staples"] = data500Vol[listaConStap].sum(axis=1)
data500Vol["Total Consumer Discretionary"] = data500Vol[listaConDisc].sum(axis=1)
data500Vol["Total Utilities"] = data500Vol[listaUtilities].sum(axis=1)
data500Vol["Total Financials"] = data500Vol[listaFinan].sum(axis=1)
data500Vol["Total Materials"] = data500Vol[listaMaterial].sum(axis=1)
data500Vol["Total Real Estate"] = data500Vol[listaRealEst].sum(axis=1)
data500Vol["Total Energy"] = data500Vol[listaEnergy].sum(axis=1)

In [25]:
#Hago lista de sectores para filtrar por columnas


listasectores = ["Total Industrial","Total Health Care","Total Information Technology","Total Communication Services","Total Consumer Staples","Total Consumer Discretionary",
                "Total Utilities","Total Financials","Total Materials","Total Real Estate","Total Energy"]

In [26]:
#Podemos calcular Volatilidad, lo hacemos con el Sector Industral
VarianzaIndustrial= data500AdjC["Total Industrial"]

In [27]:
VarianzaIndustrial.index = pd.to_datetime(VarianzaIndustrial.index)

In [28]:
df_mes = VarianzaIndustrial.resample('M').mean()

In [41]:
df_retornos = df_mes.pct_change()

volatilidad = df_retornos.std()

volatilidad

0.04642176729756595

In [ ]:
#Por lo tanto la volatilidad del sector industria resuletado de los ultimos 23 aÃ±os es de 0.0464

In [35]:
#Guardo info total Cierre Ajustado en base a sector
data500AdjC[listasectores].to_csv("datasets/data500AdjCTotal.csv")

In [36]:
#Guardo info total Volumen en base a sector
data500Vol[listasectores].to_csv("datasets/data500VolTot.csv")

In [37]:
#Descargo Csv de empresas en base al sector que pertenecen
data500AdjC[listaInd].to_csv("datasets/Industria.csv")
data500AdjC[listaHC].to_csv("datasets/HealthCare.csv")
data500AdjC[listaInfTec].to_csv("datasets/InfTec.csv")
data500AdjC[listaComS].to_csv("datasets/CommServ.csv")
data500AdjC[listaConStap].to_csv("datasets/ConsumStaples.csv")
data500AdjC[listaConDisc].to_csv("datasets/ConsumerDiscret.csv")
data500AdjC[listaUtilities].to_csv("datasets/Utilities.csv")
data500AdjC[listaFinan].to_csv("datasets/Financials.csv")
data500AdjC[listaMaterial].to_csv("datasets/Materials.csv")
data500AdjC[listaRealEst].to_csv("datasets/Real_Estate.csv")
data500AdjC[listaEnergy].to_csv("datasets/Energy.csv")